PixServiseTests/PixServiseTests/Service References/EMKServise/EMKService.Data.Dto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMKService.Data.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMKService.Data.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/MKService.Data.Dto" />
  <xs:complexType name="ArrayOfAddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressDto" nillable="true" type="tns:AddressDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressDto" nillable="true" type="tns:ArrayOfAddressDto" />
  <xs:complexType name="AddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Appartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Building" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeoData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAddressType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDto" nillable="true" type="tns:AddressDto" />
  <xs:complexType name="ArrayOfDocumentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentDto" nillable="true" type="tns:DocumentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentDto" nillable="true" type="tns:ArrayOfDocumentDto" />
  <xs:complexType name="DocumentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiredDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDocumentType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdProvider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentDto" nillable="true" type="tns:DocumentDto" />
  <xs:complexType name="JobDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OgrnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sphere" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobDto" nillable="true" type="tns:JobDto" />
  <xs:complexType name="ArrayOfReferralDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferralDto" nillable="true" type="tns:ReferralDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferralDto" nillable="true" type="tns:ArrayOfReferralDto" />
  <xs:complexType name="ReferralDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/MKService.Data.Dto" base="q1:MedRecordDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdDoctorRef" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdRefDepartmentHead" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdReferralMis" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdReferralType" type="xs:int" />
          <xs:element minOccurs="0" name="IdSourceLpu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdTargetLpu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdUrgencyType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IssuedDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MkbCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferralDto" nillable="true" type="tns:ReferralDto" />
</xs:schema>