PixServiseTests/PixServiseTests/Service References/EMKServise/EmkService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmkService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService.Core" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Case" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/N3.EMK.Dto" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Step" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.MedRec" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.MedRec.Diag" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.MedRec.MedDoc" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/EMKService.Data.ReferralList" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/EMKService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/EMKService.Data.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmkService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IEmkService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddCase_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCase" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCaseResponse" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddCase_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q1:RequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddCase_ListOf_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q2:ArrayOfRequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CreateCase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCase" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CreateCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCaseResponse" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CreateCase_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q3:RequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CreateCase_ListOf_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q4:ArrayOfRequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CloseCase_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseCase" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CloseCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseCaseResponse" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CloseCase_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q5:RequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CloseCase_ListOf_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q6:ArrayOfRequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_UpdateCase_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCase" />
  </wsdl:message>
  <wsdl:message name="IEmkService_UpdateCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCaseResponse" />
  </wsdl:message>
  <wsdl:message name="IEmkService_UpdateCase_ListOf_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q7:ArrayOfRequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_UpdateCase_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q8:RequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddMedRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMedRecord" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddMedRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMedRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddMedRecord_ListOf_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q9:ArrayOfRequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddMedRecord_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q10:RequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddStepToCase_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStepToCase" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddStepToCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStepToCaseResponse" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddStepToCase_ListOf_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q11:ArrayOfRequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_AddStepToCase_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q12:RequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_GetReferralList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReferralList" />
  </wsdl:message>
  <wsdl:message name="IEmkService_GetReferralList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReferralListResponse" />
  </wsdl:message>
  <wsdl:message name="IEmkService_GetReferralList_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q13:RequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_GetReferralList_ListOf_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q14:ArrayOfRequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CancelCase_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCase" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CancelCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCaseResponse" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CancelCase_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q15:RequestFault" />
  </wsdl:message>
  <wsdl:message name="IEmkService_CancelCase_ListOf_RequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" name="detail" element="q16:ArrayOfRequestFault" />
  </wsdl:message>
  <wsdl:portType name="IEmkService">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSupport/GetVersion" message="tns:IEmkService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSupport/GetVersionResponse" message="tns:IEmkService_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCase">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmkService/AddCase" message="tns:IEmkService_AddCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmkService/AddCaseResponse" message="tns:IEmkService_AddCase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/AddCaseRequestFaultFault" name="RequestFaultFault" message="tns:IEmkService_AddCase_RequestFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/AddCaseListOf_RequestFaultFault" name="ListOf_RequestFaultFault" message="tns:IEmkService_AddCase_ListOf_RequestFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCase">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmkService/CreateCase" message="tns:IEmkService_CreateCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmkService/CreateCaseResponse" message="tns:IEmkService_CreateCase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/CreateCaseRequestFaultFault" name="RequestFaultFault" message="tns:IEmkService_CreateCase_RequestFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/CreateCaseListOf_RequestFaultFault" name="ListOf_RequestFaultFault" message="tns:IEmkService_CreateCase_ListOf_RequestFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseCase">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmkService/CloseCase" message="tns:IEmkService_CloseCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmkService/CloseCaseResponse" message="tns:IEmkService_CloseCase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/CloseCaseRequestFaultFault" name="RequestFaultFault" message="tns:IEmkService_CloseCase_RequestFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/CloseCaseListOf_RequestFaultFault" name="ListOf_RequestFaultFault" message="tns:IEmkService_CloseCase_ListOf_RequestFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCase">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmkService/UpdateCase" message="tns:IEmkService_UpdateCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmkService/UpdateCaseResponse" message="tns:IEmkService_UpdateCase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/UpdateCaseListOf_RequestFaultFault" name="ListOf_RequestFaultFault" message="tns:IEmkService_UpdateCase_ListOf_RequestFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/UpdateCaseRequestFaultFault" name="RequestFaultFault" message="tns:IEmkService_UpdateCase_RequestFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMedRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmkService/AddMedRecord" message="tns:IEmkService_AddMedRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmkService/AddMedRecordResponse" message="tns:IEmkService_AddMedRecord_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/AddMedRecordListOf_RequestFaultFault" name="ListOf_RequestFaultFault" message="tns:IEmkService_AddMedRecord_ListOf_RequestFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/AddMedRecordRequestFaultFault" name="RequestFaultFault" message="tns:IEmkService_AddMedRecord_RequestFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStepToCase">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmkService/AddStepToCase" message="tns:IEmkService_AddStepToCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmkService/AddStepToCaseResponse" message="tns:IEmkService_AddStepToCase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/AddStepToCaseListOf_RequestFaultFault" name="ListOf_RequestFaultFault" message="tns:IEmkService_AddStepToCase_ListOf_RequestFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/AddStepToCaseRequestFaultFault" name="RequestFaultFault" message="tns:IEmkService_AddStepToCase_RequestFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReferralList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmkService/GetReferralList" message="tns:IEmkService_GetReferralList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmkService/GetReferralListResponse" message="tns:IEmkService_GetReferralList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/GetReferralListRequestFaultFault" name="RequestFaultFault" message="tns:IEmkService_GetReferralList_RequestFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/GetReferralListListOf_RequestFaultFault" name="ListOf_RequestFaultFault" message="tns:IEmkService_GetReferralList_ListOf_RequestFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCase">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmkService/CancelCase" message="tns:IEmkService_CancelCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmkService/CancelCaseResponse" message="tns:IEmkService_CancelCase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/CancelCaseRequestFaultFault" name="RequestFaultFault" message="tns:IEmkService_CancelCase_RequestFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmkService/CancelCaseListOf_RequestFaultFault" name="ListOf_RequestFaultFault" message="tns:IEmkService_CancelCase_ListOf_RequestFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmkService" type="tns:IEmkService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/IServiceSupport/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCase">
      <soap:operation soapAction="http://tempuri.org/IEmkService/AddCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestFaultFault">
        <soap:fault use="literal" name="RequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ListOf_RequestFaultFault">
        <soap:fault use="literal" name="ListOf_RequestFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCase">
      <soap:operation soapAction="http://tempuri.org/IEmkService/CreateCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestFaultFault">
        <soap:fault use="literal" name="RequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ListOf_RequestFaultFault">
        <soap:fault use="literal" name="ListOf_RequestFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CloseCase">
      <soap:operation soapAction="http://tempuri.org/IEmkService/CloseCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestFaultFault">
        <soap:fault use="literal" name="RequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ListOf_RequestFaultFault">
        <soap:fault use="literal" name="ListOf_RequestFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCase">
      <soap:operation soapAction="http://tempuri.org/IEmkService/UpdateCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ListOf_RequestFaultFault">
        <soap:fault use="literal" name="ListOf_RequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RequestFaultFault">
        <soap:fault use="literal" name="RequestFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddMedRecord">
      <soap:operation soapAction="http://tempuri.org/IEmkService/AddMedRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ListOf_RequestFaultFault">
        <soap:fault use="literal" name="ListOf_RequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RequestFaultFault">
        <soap:fault use="literal" name="RequestFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddStepToCase">
      <soap:operation soapAction="http://tempuri.org/IEmkService/AddStepToCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ListOf_RequestFaultFault">
        <soap:fault use="literal" name="ListOf_RequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RequestFaultFault">
        <soap:fault use="literal" name="RequestFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReferralList">
      <soap:operation soapAction="http://tempuri.org/IEmkService/GetReferralList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestFaultFault">
        <soap:fault use="literal" name="RequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ListOf_RequestFaultFault">
        <soap:fault use="literal" name="ListOf_RequestFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelCase">
      <soap:operation soapAction="http://tempuri.org/IEmkService/CancelCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RequestFaultFault">
        <soap:fault use="literal" name="RequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ListOf_RequestFaultFault">
        <soap:fault use="literal" name="ListOf_RequestFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmkService">
    <wsdl:port name="BasicHttpBinding_IEmkService" binding="tns:BasicHttpBinding_IEmkService">
      <soap:address location="http://192.168.8.93:2222/iemk/EMKService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>