PixServiseTests/PixServiseTests/Service References/mqProxy/MQProxy1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetResultDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLpu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCaseMis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResultDocumentResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>