PixServiseTests/PixServiseTests/Service References/mqProxy/MQProxy21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/N3.WebService.FhirProxy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/N3.WebService.FhirProxy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIMEType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDocument" nillable="true" type="tns:ResultDocument" />
</xs:schema>