PixServiseTests/PixServiseTests/Service References/mqProxy/MqService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MqService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/MQProxy.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/MQProxy.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/MQProxy.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService.Core" />
      <xsd:import schemaLocation="http://192.168.8.93:2222/iemk/MQProxy.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/N3.WebService.FhirProxy" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSupport_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IServiceSupport_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IMqService_GetResultDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultDocument" />
  </wsdl:message>
  <wsdl:message name="IMqService_GetResultDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSupport">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSupport/GetVersion" message="tns:IServiceSupport_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSupport/GetVersionResponse" message="tns:IServiceSupport_GetVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMqService">
    <wsdl:operation name="GetResultDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IMqService/GetResultDocument" message="tns:IMqService_GetResultDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMqService/GetResultDocumentResponse" message="tns:IMqService_GetResultDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSupport" type="tns:IServiceSupport">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/IServiceSupport/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMqService" type="tns:IMqService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResultDocument">
      <soap:operation soapAction="http://tempuri.org/IMqService/GetResultDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MqService">
    <wsdl:port name="BasicHttpBinding_IServiceSupport" binding="tns:BasicHttpBinding_IServiceSupport">
      <soap:address location="http://192.168.8.93:2222/iemk/MQProxy.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMqService" binding="tns:BasicHttpBinding_IMqService">
      <soap:address location="http://192.168.8.93:2222/iemk/MQProxy.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>